.toolt1p {
    position: relative;
    display: inline-block;
}

.toolt1p .toolt1ptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.toolt1p .toolt1ptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.toolt1p:hover .toolt1ptext {
    visibility: visible;
}